.nopanel-outline {
	border: none;
	box-shadow: none;
}

.green-text {
	color: green;
}

.text-ellipsis {
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.phead-width {
	max-width: 300px;
}

.pbody-outline {
	-webkit-border-radius: 0px 5px 5px 5px;
	   -moz-border-radius: 0px 5px 5px 5px;
	    -ms-border-radius: 0px 5px 5px 5px;
	     -o-border-radius: 0px 5px 5px 5px;
	        border-radius: 0px 5px 5px 5px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	   -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	     -o-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	border: 1px solid green;
	.adjust-video {
		width: 100%;
		height: 400px;
	}
}