
/* responsive-table */
@media screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {

	table.change-to-unique-table-class-name {
		display: block;
		/* Force table to not be like tables anymore */
		thead, tbody, th, td, tr { 
			display: block;

			@include responsiveTableComponent();
			
			/* Label the data: */
			td:nth-of-type(1):before { content: "Today: "; }
			td:nth-of-type(2):before { content: "Min-Temperature(F): "; }
			td:nth-of-type(3):before { content: "Max-Temperature(C): "; }
			td:nth-of-type(4):before { content: "Description: "; }
		}
	}

}